body{
background-color: darkcyan;


}

.conteudo{
    position: absolute;
    left: 30%;
    
    width: auto;
    height: auto;
    margin: auto;
}

.text{

background-color: aliceblue;

padding: 20px;
text-align: center;
border-radius: 5px;

}